In [1]:
import pandas as pd

In [2]:
apple = pd.read_csv("../data/AAPL.csv")

In [3]:
apple["Date"] = pd.to_datetime(apple["Date"])

In [17]:

apple['Date'] = pd.to_datetime(apple['Date'])

apple = apple.sort_values(by='Date')

apple['Volatility_HighLow_10days'] = apple['High'].rolling(window=10).std() / apple['Low'].rolling(window=10).mean()

apple['Delta_HighLow_10days'] = apple['High'].diff(periods=10) / apple['Low'].diff(periods=10)

apple['Delta_OpenClose_10days'] = apple['Open'].diff(periods=10) / apple['Close'].diff(periods=10)

# Calcul du delta de volume tous les 10 jours
apple['Delta_Volume_10days'] = apple['Volume'].diff(periods=10)
apple.head(11)

,Date,Open,High,Low,Close,Adj Close,Volume,Volatility_HighLow_10days,Delta_HighLow_10days,Delta_OpenClose_10days,Delta_Volume_10days
0,2013-01-02,19.779285,19.821428,19.343929,19.608213,16.769093,560518000,NaN,NaN,NaN,NaN
1,2013-01-03,19.567142,19.631071,19.321428,19.360714,16.557426,352965200,NaN,NaN,NaN,NaN
2,2013-01-04,19.177500,19.236786,18.779642,18.821428,16.096228,594333600,NaN,NaN,NaN,NaN
3,2013-01-07,18.642857,18.903570,18.400000,18.710714,16.001543,484156400,NaN,NaN,NaN,NaN
4,2013-01-08,18.900356,18.996071,18.616072,18.761070,16.044611,458707200,NaN,NaN,NaN,NaN
5,2013-01-09,18.660713,18.750357,18.428213,18.467857,15.793851,407604400,NaN,NaN,NaN,NaN
6,2013-01-10,18.876785,18.882856,18.411428,18.696787,15.989634,601146000,NaN,NaN,NaN,NaN
7,2013-01-11,18.607143,18.761429,18.536428,18.582144,15.891589,350506800,NaN,NaN,NaN,NaN
8,2013-01-14,17.952856,18.125000,17.803928,17.919643,15.325015,734207600,NaN,NaN,NaN,NaN
9,2013-01-15,17.796429,17.821072,17.263571,17.354286,14.841518,876772400,0.032809,NaN,NaN,NaN
10,2013-01-16,17.665714,18.194286,17.589287,18.074642,15.457572,690804800,0.029759,0.927336,1.378202,130286800.0

In [22]:
import numpy as np
apple["Delta_Volume_10days"].describe()

count    2.758000e+03
mean    -1.779065e+06
std      1.015420e+08
min     -7.832664e+08
25%     -3.454655e+07
50%     -2.371000e+06
75%      3.016010e+07
max      1.053248e+09
Name: Delta_Volume_10days, dtype: float64